/**
 * ==================================================
 * ESTILOS PARA CÍRCULO CENOGRAFIA ==================
 * ==================================================
 * 
 * 
 */


/**
 * TIPOGRAFIA
 * 
 */
body {
	font-family: 'Raleway', sans-serif;
}



/* fixed menu */
body {
	padding-top:60px;
}
#menu-top {
	background:#000;
	border:none;
}
#logo-header {
	background:url(img/logo-header.png) no-repeat left center;
	background-size:auto 100%;
	color:red;
	display:block;
	float:left;
	font-size:20px;
	margin:5px 0;
	padding:5px 0 5px 50px;
}
.navbar-default .navbar-toggle {
	border:none;
	border-radius:0;
	background:rgba(237, 27, 36, 0.6);
	float:left;
	height:50px;
	margin:0 10px 0 0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
	background:rgba(237, 27, 36, 0.8);
}
.navbar-default .navbar-toggle .icon-bar {
	background:rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 768px) {
	body {
		padding-top:110px;
	}
	#menu-top {
		background:#000;
		border:none;
		padding-top:20px;
		padding-bottom:20px;
	}
	#logo-header {
		font-size:29px;
		padding:5px 0 5px 65px;
	}
}



/**
 * SIDEBAR OFFCANVAS
 * 
 */
#offcanvas-sidebar {
	background:#fff;
}
.row-offcanvas.active #offcanvas-sidebar {
	
}
#offcanvas {
	padding:0 0 0 10px;
}
#offcanvas ul {
	font-size:18px;
	list-style:none;
	margin:0;
	padding:0;
}
#offcanvas ul li {
	font-weight:500;
	padding:10px 0;
	text-transform:uppercase;
}
#offcanvas ul li#portfolio-submenu {
	
}
#offcanvas ul > li > ul {
	margin-left:30px;
}
#offcanvas ul > li > ul > li {
	text-transform:none;
}
#offcanvas ul li#portfolio-submenu .category-link {
	cursor:pointer;
	display:block;
}
#offcanvas a,
#offcanvas ul li#portfolio-submenu .category-link {
	color:#000;
	cursor:pointer;
	display:block;
}
#offcanvas a:hover,
#offcanvas ul li#portfolio-submenu .category-link:hover, 
#offcanvas ul li#portfolio-submenu .portfolio-category-item span.active {
	color:red;
	text-decoration:none;
}
#offcanvas ul li#portfolio-submenu .portfolio-category-items {
	display:none;
}
#offcanvas ul li#portfolio-submenu .portfolio-category-items.active {
	display:block;
}




/**
 * OFF CANVAS
 * 
 */
html, body {
	overflow-x:hidden; /* Prevent scroll on narrow devices */
}

html.active, body.active {
	overflow:hidden;
}

#offcanvas-sidebar {
	background:#fff;
}
@media screen and (max-width: 767px) {
	.row-offcanvas {
		position: relative;
		-webkit-transition: all .25s ease-out;
		     -o-transition: all .25s ease-out;
		        transition: all .25s ease-out;
	}
	
	.row-offcanvas-right {
		right: 0;
	}
	
	.row-offcanvas-left {
		left: 0;
	}
	
	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -50%; /* 6 columns */
	}
	
	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -50%; /* 6 columns */
	}
	
	.row-offcanvas-right.active {
		right: 50%; /* 6 columns */
	}
	
	.row-offcanvas-left.active {
		left: 50%; /* 6 columns */
	}
	
	.sidebar-offcanvas {
		opacity:1;
		position: fixed;
		top: 50px;
		width: 50%; /* 6 columns */
		height:100%;
		overflow:scroll;
		
		-webkit-transition: all .25s ease-out;
		     -o-transition: all .25s ease-out;
		        transition: all .25s ease-out;
	}
	
	.row-offcanvas-left.active .sidebar-offcanvas {
		left:0;
		opacity:1;
	}
}

@media screen and (max-width: 480px) {
	.row-offcanvas-right
	.sidebar-offcanvas {
		right: -90%; /* 6 columns */
	}
	
	.row-offcanvas-left
	.sidebar-offcanvas {
		left: -90%; /* 6 columns */
	}
	
	.row-offcanvas-right.active {
		right: 90%; /* 6 columns */
	}
	
	.row-offcanvas-left.active {
		left: 90%; /* 6 columns */
	}
	
	.sidebar-offcanvas {
		width: 90%; /* 6 columns */
	}
}



/**
 * PORTFOLIO
 * 
 */
#portfolio-box {
	position:relative;
}
#portfolio-box .portfolio-category {
	display:none;
	overflow:hidden;
	position:relative;
	width:100%;
}
#portfolio-box .portfolio-category.active {
	display:block;
}
#portfolio-box .portfolio-category ul.portfolio-category-items {
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
}
#portfolio-box .portfolio-category ul.portfolio-category-items li {
	float:left;
	margin-bottom:5px;
	position:relative;
}
#portfolio-box .portfolio-category ul.portfolio-category-items li.circle-divider {
	
}
#portfolio-box .portfolio-category ul.portfolio-category-items li.divider-4 {
	
}
#portfolio-box .portfolio-category ul.portfolio-category-items li.divider-3 {
	
}
#portfolio-box .portfolio-category ul.portfolio-category-items li.divider-2 {
	
}
#portfolio-box .portfolio-category ul.portfolio-category-items li .portfolio-item-content {
	position:relative;
}
#portfolio-box .portfolio-category ul.portfolio-category-items li img {
	display:block;
	height: auto;
	width: 100%;
	border-radius:50%;
	
	opacity:1;
	-webkit-transition: all .25s ease-out;
		 -o-transition: all .25s ease-out;
			transition: all .25s ease-out;
}
#portfolio-box .portfolio-category ul.portfolio-category-items li .portfolio-item-link {
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
#portfolio-box .portfolio-category ul.portfolio-category-items li .portfolio-item-title {
	display:block;
	text-align:center;
}
@media screen and (min-width: 768px) {
	#portfolio-box .portfolio-category ul.portfolio-category-items li .portfolio-item-content {
		padding:0 5%;
		position:relative;
	}
	#portfolio-box .portfolio-category ul.portfolio-category-items li {
		margin-bottom:20px;
	}
	/**
	 * Título centralizado verticalmente
	 * @link http://jsfiddle.net/45MHk/1/
	 * @link http://stackoverflow.com/a/13274581
	 */
	#portfolio-box .portfolio-category ul.portfolio-category-items li .portfolio-item-title {
		color:#fff;
		text-shadow: 1px 1px 1px #000;
		position:absolute;
		width:100%;
		top:50%;
		left:0;
		overflow:hidden;
		margin-top:-0.5em;
		opacity:0;
		
		-webkit-transition: all .25s ease-out;
		     -o-transition: all .25s ease-out;
		        transition: all .25s ease-out;
	}
	#portfolio-box .portfolio-category ul.portfolio-category-items li:hover .portfolio-item-title {
		display:block;
		opacity:1;
	}
	#portfolio-box .portfolio-category ul.portfolio-category-items li:hover img {
		opacity:0.4;
	}
}

























