/**
 * ==================================================
 * EDITOR DE TEXTO TINYMCE ==========================
 * ==================================================
 * Estilos aplicados apenas dentro do editor de texto do admin.
 * 
 */
.wp-editor {
	background:#FFF;
	margin:0;
	padding:0;
}
.mceContentBody > p,
.mceContentBody > h1,
.mceContentBody > h2,
.mceContentBody > h3,
.mceContentBody > h4,
.mceContentBody > h5,
.mceContentBody > h6,
.mceContentBody > ul,
.mceContentBody > ol,
.mceContentBody > table,
.mceContentBody > blockquote,
.mceContentBody > pre {
	background-position:5px 5px, left bottom;
	background-repeat:no-repeat, repeat-x;
	border:1px dotted #dbdbdb;
	box-shadow:inset 0px 0px 20px rgba(245, 245, 245, 1);
	padding:14px 5px 5px;
	position:relative;
	margin:0;
	z-index:0;
}

/* imagem sempre por cima de qualquer elemento */
.mceContentBody img {
	position:relative;
	z-index:999999;
}

/* labels */
.mceContentBody > p          {background-image:url(img/editor/p2.png)}
.mceContentBody > h1         {background-image:url(img/editor/h1.png)}
.mceContentBody > h2         {background-image:url(img/editor/h2.png)}
.mceContentBody > h3         {background-image:url(img/editor/h3.png)}
.mceContentBody > h4         {background-image:url(img/editor/h4.png)}
.mceContentBody > h5         {background-image:url(img/editor/h5.png);}
.mceContentBody > h6         {background-image:url(img/editor/h6.png)}
.mceContentBody > blockquote {background-image:url(img/editor/blockquote.png)}
.mceContentBody > pre        {background-image:url(img/editor/pre.png)}
.mceContentBody > ol         {background-image:url(img/editor/ol.png)}
.mceContentBody > ul         {background-image:url(img/editor/ul.png)}

.mceContentBody > ol {
	padding:20px 0 10px 40px;
}

.mceContentBody .wp-caption {
	position:relative;
	z-index:2;
}
.mceContentBody .wp-caption .wp-caption-dt {
	margin:0;
}

.mceContentBody > hr {
	background:url(img/editor/hr.png) no-repeat 5px 5px;
	border:1px dotted #dbdbdb;
	border-bottom:3px solid #d0d0cf;
	box-shadow:inset 0px 0px 20px rgba(245, 245, 245, 1);
	height:10px;
	margin:10px;
	padding:7px 0 0;
}

/**
 * Corrigir placeholder de galeria, que acaba ocupando uma área ligeiramente maior que o content
 * 
 */
.mceContentBody > .wpview-wrap {
	border:1px dotted #dbdbdb;
	box-shadow:inset 0px 0px 20px rgba(245, 245, 245, 1);
	margin:10px; /* original none */
	width:auto; /* original 99.99%; */
}

.mceContentBody > p:nth-child(1){ z-index:29;}
.mceContentBody > p:nth-child(2){ z-index:28;}
.mceContentBody > p:nth-child(3){ z-index:27;}
.mceContentBody > p:nth-child(4){ z-index:26;}
.mceContentBody > p:nth-child(5){ z-index:25;}
.mceContentBody > p:nth-child(6){ z-index:24;}
.mceContentBody > p:nth-child(7){ z-index:23;}
.mceContentBody > p:nth-child(8){ z-index:22;}
.mceContentBody > p:nth-child(9){ z-index:21;}
.mceContentBody > p:nth-child(10){z-index:20;}
.mceContentBody > p:nth-child(12){z-index:19;}
.mceContentBody > p:nth-child(13){z-index:18;}
.mceContentBody > p:nth-child(14){z-index:17;}
.mceContentBody > p:nth-child(15){z-index:16;}
.mceContentBody > p:nth-child(16){z-index:15;}
.mceContentBody > p:nth-child(17){z-index:14;}
.mceContentBody > p:nth-child(18){z-index:13;}
.mceContentBody > p:nth-child(19){z-index:12;}
.mceContentBody > p:nth-child(20){z-index:10;}
.mceContentBody > p:nth-child(21){z-index:9 ;}
.mceContentBody > p:nth-child(22){z-index:8 ;}
.mceContentBody > p:nth-child(23){z-index:7 ;}
.mceContentBody > p:nth-child(24){z-index:6 ;}
.mceContentBody > p:nth-child(25){z-index:5 ;}
.mceContentBody > p:nth-child(26){z-index:4 ;}
.mceContentBody > p:nth-child(27){z-index:3 ;}
.mceContentBody > p:nth-child(28){z-index:2 ;}
.mceContentBody > p:nth-child(29){z-index:1 ;}
